In [27]:
# 경고 무시
import warnings
warnings.filterwarnings('ignore')

### 6.4.3 map을 사용하여 정수로 변환하기

In [4]:
a, b = map(int, input('숫자 2개를 입력하세요: ').split(','))

숫자 2개를 입력하세요: 3, 54

In [5]:
print(a)

3

### 7.1.1 sep로 값 사이에 문자 넣기

In [9]:
print(1,2,3)
print(1,2,3, sep=', ')
print(1920, 1080, sep='x')
print('-'*20)
print(1,2,3,4, sep='\n')

1 2 3
1, 2, 3
1920x1080
--------------------
1
2
3
4

### 7.2.1 end를 사용하여 한 줄로 붙여서 출력
defalut -> end = '\n'으로 지정 
print가 끝날때 어떤것을 마지막으로 출력할것인지

In [10]:
print(1)
print(2)
print(3)
print('-' * 20)
print(1, end='')
print(2, end='')
print(3)

1
2
3
--------------------
123

In [18]:
print('Hello','\n','Python', sep='')

Hello
Python

### 7.5 심사 문제
표준 입력으로 년, 월, 일, 시, 분, 초가 입력됩니다. 다음 소스 코드를 완성하여 입력된 날짜와 시간을 년-월-일T시:분:초 형식으로 출력되기 만드세요

In [21]:
year, month, day, hour, minute, second = input().split()
print(year,month, day, sep='-', end='T')
print(hour, minute, second, sep=':')

1999 12 31 10 37 21
1999-12-31T10:37:21

### 핵심정리

#### 객체의 자료형 알아내기
- type() 사용

In [23]:
print(10000000)
print(10_000_000)
print(10,000,000) # 튜플 자료형이 되기 때문에 주의해야함

10000000
10000000
10 0 0

In [24]:
import numpy as np

a = np.array([[1,2,3], [4,5,6], [7,8,9]]) #2차원 배열
b = np.array([[1,2,3], [4,5,6], [7,8,9]])
a @ b # 행렬 곱셈

array([[ 30,  36,  42],
       [ 66,  81,  96],
       [102, 126, 150]])

## 8. 불과 비교, 논리 연산자 알아보기

### 8.1.5 객체가 같은지 다른지 비교하기

In [28]:
print(1 == 1.0)
print(1 is 1.0) # 정수, 실수 객체는 다름으로 False가 출력
print(1 is not 1.0)

True
False
True

In [30]:
# 정수 객체와 실수 객체가 다른지 확인하는 방법 id()
# id는 객체의 고유한 값(메모리 주소)을 구함
print(id(1))
print(id(1.0))

4528609632
140381430871664

In [31]:
# 값 비교에는 is 쓰지 않기
a = -5
print(a is -5)

a = -6
print(a is -6)

True
False

### 8.2 논리 연산자
- not, and, or 순으로 판단

In [33]:
not True and False or not False

True

### 8.2.1 논리연산자와 비교 연산자를 함께 사용하기

In [34]:
print(10 == 10 and 10 != 5)
print(10 > 5 or 10 < 3)

True
True

In [41]:
a = 10
b = 20
not b != 20

True

In [43]:
not b != 20 and a > 5

True

### 8.5 심사문제
- 국어는 90점 이상, 영어는 80점 초과, 수학은 85점 초과, 과학은 80점 이상일 때 합격
- 합격이면 True, 불합격이면 False가 출력

In [48]:
kor, eng, math, sci = map(int, input().split())
if kor >= 90 and eng > 80 and math > 85 and sci > 80:
    print(True)
else:
    print(False)

점수를 입력하세요: 90 81 86 80
False

In [52]:
kor, eng, math, sci = map(int, input().split())
print(kor >= 90 and eng > 80 and math > 85 and sci >= 80)

90 81 86 80
False

## 9. 문자열 사용하기

### 9.1.1 여러 줄로 된 문자열 사용하기

In [54]:
hello = '''Hello, world!
Python
'''
print(hello)

Hello, world!
Python

### 9.1.2 문자열 안에 작은 따옴표나 큰따옴표 포함하기
- 작은 따옴표 안에 작은 따옴표를 넣거나 큰따옴표 안에 큰따옴표를 넣을 수는 없음

In [56]:
# \를 사용하면 따옴표 넣기 가능
'Python isn\'t difficult'

"Python isn't difficult"

In [60]:
s = '''\'Python\' is a "programming language"
that lets you work quickly
and
integrate systems more effectively.'''
print(s)

'Python' is a "programming language"
that lets you work quickly
and
integrate systems more effectively.

## 10. 리스트와 튜플 사용하기

### 10.1.3 range를 사용하여 리스트 만들기

In [61]:
a = list(range(10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [65]:
b = [x for x in range(5,10)]
b

[5, 6, 7, 8, 9]

In [67]:
c = list(range(-4, 10 ,2))
c

[-4, -2, 0, 2, 4, 6, 8]

### 10.2 튜플 사용하기
- 튜플은 리스트처럼 요소를 일렬로 저장하지만, 안에 저장된 요소를 변경, 추가, 삭제 할 수 없음

In [68]:
a = (3,31,5,62,10)
a

(3, 31, 5, 62, 10)

In [69]:
b = 3,31,5,62,10
b

(3, 31, 5, 62, 10)

In [71]:
c = ('james', 10, 10.2, True)
c

('james', 10, 10.2, True)

### 10.2.1 요소가 한개 들어있는 튜플 만들기
- 함수(클래스)를 사용하다 보면 값이 아닌 튜플을 넣어야 하는 경우가 있음

In [73]:
print((38))
print((38,))

38
(38,)

### 10.2.3 튜플을 리스트로 만들고 리스트를 튜플로 만들기

In [75]:
a = [1,2,3]
tuple(a)

(1, 2, 3)

In [76]:
b = (4,5,6)
list(b)

[4, 5, 6]

In [77]:
list("Hello")

['H', 'e', 'l', 'l', 'o']

In [78]:
tuple("Hello")

('H', 'e', 'l', 'l', 'o')

### 리스트 패킹과 튜플 패킹은 변수에 리스트 또는 튜플을 할당하는 과정을 뜻함

In [79]:
a = [1,2,3] # 패킹
b, c, d = a # 언패킹
print(b,c,d)

1 2 3

In [82]:
a = range(-10, 10, 3)
a

range(-10, 10, 3)

### 10.5 심사문제: range로 튜플 만들기
- 숫자 범위 -10, 10
- 입력된 정수만큼 증가하는 숫자가 들어가도록 튜플을 만들고, 해당 튜플을 출력하는 프로그램 생성

In [85]:
x = int(input())
print(tuple(range(-10, 10, x)))

2
(-10, -8, -6, -4, -2, 0, 2, 4, 6, 8)

## 11. 시퀀스 자료형 활용하기
- 시퀀스 자료형은 모두 값이 연속적으로 이어져 있음
- list, tuple, range, str, bytes, bytearray

### 11.1.1 특정 값이 있는지 확인하기

In [91]:
a = list(range(0,100,10))
print(30 in a)
print(100 in a)
print(30 not in a) # 없으면 True, 있으면 False

print('P' in "Hello, Python") # 문자열도 가능

True
False
False
True

### 11.2 시퀀스 객체의 요소 개수 구하기

In [94]:
print(len(a))
hello = "Hello, world"
len(hello) # 공백까지 포함

10

12

In [96]:
hello = "안녕하세요"
print(len(hello.encode('utf-8'))) # 문자열이 차지하는 실제 바이트 수를 구하는 방법

15

### 11.3.1 음수 인덱스 지정하기
- 리스트의 뒤에서 첫번째(-1)

In [97]:
a = [38, 21, 53, 62, 19]
print(a[-1], a[-5])

19 38

### 11.3.3 마지막 요소에 접근하기

In [98]:
print(a[len(a)-1])

19

### 11.3.5 del로 요소 삭제하기

In [99]:
a

[38, 21, 53, 62, 19]

In [100]:
del a[2]
a

[38, 21, 62, 19]

In [101]:
a = list(range(0,10,2))
del a[2]
a

[0, 2, 6, 8]

### 11.4 슬라이스 사용하기

In [104]:
a = list(range(0,100,10))
print(a[:4]) # 실제 가져오려는 인덱스보다 1을 더 크게 지정
print(a[4:7])
print(a[2:8:3]) # 인덱스 3씩 증가시키면서 값 가져오기

[0, 10, 20, 30]
[40, 50, 60]
[20, 50]

In [108]:
print(a[2::2]) 
print(a[:8:2])
print(a[::3])# 전체에서 인덱스 값 3씩 증가
print(a[::]) # 전체를 가져옴

[20, 40, 60, 80]
[0, 20, 40, 60]
[0, 30, 60, 90]
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

### 11.4.6 튜플, range, 문자열에 슬라이스 사용하기

In [112]:
# range에 슬라이스를 사용하면 지정된 범위의 숫자를 생성하는 range 객체를 새로 만듬
r = range(10)
r[4:7]
r[:7:2]

range(0, 7, 2)

In [113]:
a = list(r[:7:2])
a

[0, 2, 4, 6]

In [116]:
hello = "Hello, Python"
print(hello[:4])
print(hello[:6:2])

Hell
Hlo

### slice 사용하기

In [119]:
a = list(range(0,100,10))
r = range(10)
hello = "Hello, Python"
s = slice(4,7)

print(a[s])
print(r[s])
print(hello[s])

[40, 50, 60]
range(4, 7)
o,

### 11.4.8 del로 슬라이스 삭제하기
- tuple, range, str은 삭제 할수 없음

In [123]:
a = list(range(0,100,10))
del a[2:5]
a

[0, 10, 50, 60, 70, 80, 90]

In [124]:
a = list(range(0,100,10))
del a[2:8:2]
a

[0, 10, 30, 50, 70, 80, 90]

### 11.8 심사문제: 리스트의 마지막 부분 삭제하기
- 리스트의 마지막 요소 5개를 삭제한 뒤 튜플로 출력

In [141]:
x = input().split()
a = list(x)
del a[-1:-6:-1]
a = tuple(a)
print(a)

oven bat pony total leak wreck curl crop space navy loss knee
('oven', 'bat', 'pony', 'total', 'leak', 'wreck', 'curl')

In [ ]:
x = input().split()
a = list(x)
del a[-1:-6:-1]
a = tuple(a)
print(a)

## 12. 딕셔너리 사용하기

### 12.1 딕셔너리 만들기
- 중복되는 키는 저장되지 않고 가장 뒤에 있는 값만 사용

In [1]:
lux = {'health' : 490, 'mana':334, 'melee':550, 'armor':18.72}
lux

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

### 12.1.2 딕셔너리 자료형
- 값에는 리스트, 딕셔너리 등을 포함하여 모든 자료형을 사용할 수 있음
- 키에는 불가능

In [2]:
x = {100:'hundred', False:0, 3.5:[3.5,3.5]}
x

{100: 'hundred', False: 0, 3.5: [3.5, 3.5]}

### 12.1.4 dict로 딕셔너리 만들기

In [3]:
lux1 = dict(health=400, mana=300, armor = 15.23)
lux2 = dict(zip(['health','mana','armor'], [400, 300, 15.23]))

In [6]:
print(lux1)
print(lux2)

{'health': 400, 'mana': 300, 'armor': 15.23}
{'health': 400, 'mana': 300, 'armor': 15.23}

### 12.2.2 딕셔너리에 키가 있는지 확인하기
- 딕셔너리는 해시 기법을 이요해서 데이터를 저장
- 키-값 형태의 자료형을 해시, 해시맵, 해시테이블 등으로 부름

In [7]:
print('health' in lux1)

True

### 12.5 심사문제: 딕셔너리에 게임 캐릭터 능력치 저장하기
- 표준 입력으로 문자열 여러 개와 숫자(실수) 여러 개가 두 줄로 입력됩니다. 입력된 첫 번째 줄은 키, 두 번째 줄은 값으로 하여 딕셔너리를 생성한 뒤 딕셔너리를 출력하는 프로그램을 만드세요. input().split()의 결과를 변수 한 개에 저장하면 리스트로 저장됩니다.

입력값 :

health health_regen mana mana_regen 

575.6 1.7 338.8 1.63

In [22]:
keys = input().split()
values = map(float, input().split())

dic = dict(zip(keys, values))
print(dic)

573.6 308.8 600 0.625 35.7
573.6 308.8 600 0.625 35.7
{'573.6': '573.6', '308.8': '308.8', '600': '600', '0.625': '0.625', '35.7': '35.7'}

### 문자열 한 줄을 여러줄로 입력하기
- \ 을 이요하여 줄바꿈

In [25]:
s = 'Fortunately, however, for the reputation of Asteroid \
Hi' 
s

'Fortunately, however, for the reputation of Asteroid Hi'